# Comprehensions

In [ ]:
# Comprehension Function 1
# I am not asking you to write a function, just code, similar to chatbot
vowels = ["a", "e", "i", "o", "u"]

x = input("string:" )
arr = list(x)

for i in arr:
  for j in vowels:
    if i == j:
      arr.remove(i)

print(arr)


# Using a list comprehension remove all the vowels in a string

string:qasedfrfg
['q', 's', 'd', 'f', 'r', 'f', 'g']

In [ ]:
# Comprehension Function 2
# I am not asking you to write a function, just code, similar to chatbot

# Using a dictionary comprehension to count the length of each word in a sentence
# I love you ==> 1, 4, 3

x = input("string:" )
arr = list(x)
print(arr)

string:I love you
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'y', 'o', 'u']

In [ ]:
# Comprehension Function 3
# I am not asking you to write a function, just code, similar to chatbot

# Use a nested list comprehension to find all of the numbers 
# from 1–2000 that are divisible by any single digit besides 1 ( so just 2–9)

import math

x = set()
for i in range(1, 2000):
  for j in range(2,9):
    if i % j == 0:
      x.add(i)
print(x)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999, 1000, 1001, 1002, 1004, 1005, 1006, 1008, 1010, 1011, 1012, 1014, 1015, 1016, 1017, 1018, 1020, 1022, 1023, 1024, 1025, 1026, 1028, 1029, 1030, 1032, 1034, 1035, 1036, 1038, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1050, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1062, 1064, 1065, 1066, 1068, 1070, 1071, 1072, 1074, 1075, 1076, 1077, 1078, 1080, 1082, 1083, 1084, 1085, 1086, 1088, 1089, 1090, 1092, 1094, 1095, 1096, 1098, 1099, 1100, 1101, 1102, 1104, 1105, 1106, 1107, 1108, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1119, 1120, 1122, 1124, 1125, 1126, 1127, 1128, 1130, 1131, 1132, 1134, 1135, 1136, 1137, 1138, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1148, 1149, 1150, 1152, 1154, 1155, 1156, 1158, 1160, 1161, 1162, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1172, 1173, 1174, 1175, 1176, 1178, 1179, 1180, 1182, 1183, 1184, 1185, 1186, 1188, 1190, 1191, 1192, 1194, 1195, 1196, 1197, 1198, 1200, 1202, 1203, 1204, 1205, 1206, 1208, 1209, 1210, 1211, 1212, 1214, 1215, 1216, 1218, 1220, 1221, 1222, 1224, 1225, 1226, 1227, 1228, 1230, 1232, 1233, 1234, 1235, 1236, 1238, 1239, 1240, 1242, 1244, 1245, 1246, 1248, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1260, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1272, 1274, 1275, 1276, 1278, 1280, 1281, 1282, 1284, 1285, 1286, 1287, 1288, 1290, 1292, 1293, 1294, 1295, 1296, 1298, 1299, 1300, 1302, 1304, 1305, 1306, 1308, 1309, 1310, 1311, 1312, 1314, 1315, 1316, 1317, 1318, 1320, 1322, 1323, 1324, 1325, 1326, 1328, 1329, 1330, 1332, 1334, 1335, 1336, 1337, 1338, 1340, 1341, 1342, 1344, 1345, 1346, 1347, 1348, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1358, 1359, 1360, 1362, 1364, 1365, 1366, 1368, 1370, 1371, 1372, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1382, 1383, 1384, 1385, 1386, 1388, 1389, 1390, 1392, 1393, 1394, 1395, 1396, 1398, 1400, 1401, 1402, 1404, 1405, 1406, 1407, 1408, 1410, 1412, 1413, 1414, 1415, 1416, 1418, 1419, 1420, 1421, 1422, 1424, 1425, 1426, 1428, 1430, 1431, 1432, 1434, 1435, 1436, 1437, 1438, 1440, 1442, 1443, 1444, 1445, 1446, 1448, 1449, 1450, 1452, 1454, 1455, 1456, 1458, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1470, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1482, 1484, 1485, 1486, 1488, 1490, 1491, 1492, 1494, 1495, 1496, 1497, 1498, 1500, 1502, 1503, 1504, 1505, 1506, 1508, 1509, 1510, 1512, 1514, 1515, 1516, 1518, 1519, 1520, 1521, 1522, 1524, 1525, 1526, 1527, 1528, 1530, 1532, 1533, 1534, 1535, 1536, 1538, 1539, 1540, 1542, 1544, 1545, 1546, 1547, 1548, 1550, 1551, 1552, 1554, 1555, 1556, 1557, 1558, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1568, 1569, 1570, 1572, 1574, 1575, 1576, 1578, 1580, 1581, 1582, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1592, 1593, 1594, 1595, 1596, 1598, 1599, 1600, 1602, 1603, 1604, 1605, 1606, 1608, 1610, 1611, 1612, 1614, 1615, 1616, 1617, 1618, 1620, 1622, 1623, 1624, 1625, 1626, 1628, 1629, 1630, 1631, 1632, 1634, 1635, 1636, 1638, 1640, 1641, 1642, 1644, 1645, 1646, 1647, 1648, 1650, 1652, 1653, 1654, 1655, 1656, 1658, 1659, 1660, 1662, 1664, 1665, 1666, 1668, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1680, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1692, 1694, 1695, 1696, 1698, 1700, 1701, 1702, 1704, 1705, 1706, 1707, 1708, 1710, 1712, 1713, 1714, 1715, 1716, 1718, 1719, 1720, 1722, 1724, 1725, 1726, 1728, 1729, 1730, 1731, 1732, 1734, 1735, 1736, 1737, 1738, 1740, 1742, 1743, 1744, 1745, 1746, 1748, 1749, 1750, 1752, 1754, 1755, 1756, 1757, 1758, 1760, 1761, 1762, 1764, 1765, 1766, 1767, 1768, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1778, 1779, 1780, 1782, 1784, 1785, 1786, 1788, 1790, 1791, 1792, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1802, 1803, 1804, 1805, 1806, 1808, 1809, 1810, 1812, 1813, 1814, 1815, 1816, 1818, 1820, 1821, 1822, 1824, 1825, 1826, 1827, 1828, 1830, 1832, 1833, 1834, 1835, 1836, 1838, 1839, 1840, 1841, 1842, 1844, 1845, 1846, 1848, 1850, 1851, 1852, 1854, 1855, 1856, 1857, 1858, 1860, 1862, 1863, 1864, 1865, 1866, 1868, 1869, 1870, 1872, 1874, 1875, 1876, 1878, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1890, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1902, 1904, 1905, 1906, 1908, 1910, 1911, 1912, 1914, 1915, 1916, 1917, 1918, 1920, 1922, 1923, 1924, 1925, 1926, 1928, 1929, 1930, 1932, 1934, 1935, 1936, 1938, 1939, 1940, 1941, 1942, 1944, 1945, 1946, 1947, 1948, 1950, 1952, 1953, 1954, 1955, 1956, 1958, 1959, 1960, 1962, 1964, 1965, 1966, 1967, 1968, 1970, 1971, 1972, 1974, 1975, 1976, 1977, 1978, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1988, 1989, 1990, 1992, 1994, 1995, 1996, 1998}

In [ ]:
# Comprehension Function 3

x = list(range(1, 2000)) 
n = str(input("Enter a number: "))
output = [i for i in x if n in str(i)]
print(output)


# Find all of the numbers from 1–2000 that have a 6 in them

Enter a number: 6
[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996, 1006, 1016, 1026, 1036, 1046, 1056, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1076, 1086, 1096, 1106, 1116, 1126, 1136, 1146, 1156, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1176, 1186, 1196, 1206, 1216, 1226, 1236, 1246, 1256, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1276, 1286, 1296, 1306, 1316, 1326, 1336, 1346, 1356, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1376, 1386, 1396, 1406, 1416, 1426, 1436, 1446, 1456, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1476, 1486, 1496, 1506, 1516, 1526, 1536, 1546, 1556, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1576, 1586, 1596, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1706, 1716, 1726, 1736, 1746, 1756, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1776, 1786, 1796, 1806, 1816, 1826, 1836, 1846, 1856, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1876, 1886, 1896, 1906, 1916, 1926, 1936, 1946, 1956, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1976, 1986, 1996]

In [ ]:
# Comprehension Function 4

# Write a function that takes in a string
# and returns a list of all the words in that string that are less than 5 letters

def x(string):
  words = string.split()
  # print(words)
  temp = []
  
  for i in words:
    if len(i) < 5:
      temp.append(i)
  return temp

strings = input("Enter word: ")
print(x(strings))

Enter word: 1234
['1234']
['1234']

# Working with sets
**Hint** Take a look at the `set` function in Python, the `set` data type, and built-in `set` methods.

In [ ]:
# Example set function usage
print(set("kiwi"))
print(set([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))

{'i', 'w', 'k'}
{1, 2, 3, 4}

In [ ]:
# Exercise 83
# Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.
def get_unique_values(list_var):
  print(list_var)

  x = set(list_var)
  print(x)
                      

# assert get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"]) == {"ant", "mosquito", "ladybug"}
# assert get_unique_values(["b", "a", "n", "a", "n", "a", "s"]) == {"b", "a", "n", "s"}
# assert get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"]) == {"mary", "had", "a", "little", "lamb"}
get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"])
get_unique_values(["b", "a", "n", "a", "n", "a", "s"])
get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"])

print("Exercise 83 is correct.")

['ant', 'ant', 'mosquito', 'mosquito', 'ladybug']
{'ant', 'mosquito', 'ladybug'}
['b', 'a', 'n', 'a', 'n', 'a', 's']
{'a', 'n', 's', 'b'}
['mary', 'had', 'a', 'little', 'lamb', 'little', 'lamb', 'little', 'lamb']
{'mary', 'a', 'had', 'lamb', 'little'}
Exercise 83 is correct.

In [ ]:
# Exercise 84
# Write a function definition named get_unique_values_from_two_lists that takes two lists and returns a single set with only the unique values
def get_unique_values_from_two_lists(list1, list2):
  print(list1, list2)

  list3 = list1 + list2
  x = set(list3)
  print(x)


# assert get_unique_values_from_two_lists([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 3, 4, 5}
# assert get_unique_values_from_two_lists([1, 1], [2, 2, 3]) == {1, 2, 3}
# assert get_unique_values_from_two_lists(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato", "mango", "kiwi", "eggplant", "broccoli"}
get_unique_values_from_two_lists([5, 1, 2, 3], [3, 4, 5, 5])
get_unique_values_from_two_lists([1, 1], [2, 2, 3])
get_unique_values_from_two_lists(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"])

print("Exercise 84 is correct.")

[5, 1, 2, 3] [3, 4, 5, 5]
{1, 2, 3, 4, 5}
[1, 1] [2, 2, 3]
{1, 2, 3}
['tomato', 'mango', 'kiwi'] ['eggplant', 'tomato', 'broccoli']
{'broccoli', 'mango', 'eggplant', 'tomato', 'kiwi'}
Exercise 84 is correct.

In [ ]:
# Exercise 85
# Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common
def get_values_in_common(list1, list2):
  print(list1, list2)
 
  set1 = set(list1)
  set2 = set(list2) 

  temp = []
  temp2 = {}

  for i in set1:
    for j in set2:
      if i==j: 
        temp.append(i)
  temp2 = set(temp)
  print(temp2)
  return temp2

assert get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {3, 5}
assert get_values_in_common([1, 2], [2, 2, 3]) == {2}
assert get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato"}
print("Exercise 85 is correct.")

[5, 1, 2, 3] [3, 4, 5, 5]
{3, 5}
[1, 2] [2, 2, 3]
{2}
['tomato', 'mango', 'kiwi'] ['eggplant', 'tomato', 'broccoli']
{'tomato'}
Exercise 85 is correct.

In [ ]:
# Exercise 86
# Write a function definition named get_values_not_in_common that takes two lists and returns a single set with the values that each list does not have in common
def get_values_not_in_common(list1, list2):
  print(list1, list2)
  
  set1 = set(list1)
  set2 = set(list2) 

  common = []
  set_com = {}

  temp = []
  temp2 = {}

  for i in set1:
    for j in set2:
      if i==j: 
        common.append(i)
  set_com = set(common)
  print(set_com)

  is_common = False

  for i in set1:
    for k in set_com:
      if i == k:
        is_common = True
    if is_common == False:
      temp.append(i)
 
  print(temp)
  
  temp3 = []
  for j in set2:
    for l in set_com:
      if j == l:
        is_common = True
    if is_common == False:
      temp3.append(j)
  print(temp3)
  
  temp2 = set(temp)
  print(temp2)
  return temp2

assert get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 4}
assert get_values_not_in_common([1, 1], [2, 2, 3]) == {1, 2, 3}
assert get_values_not_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"mango", "kiwi", "eggplant", "broccoli"}
print("Exercise 86 is correct.")

[5, 1, 2, 3] [3, 4, 5, 5]
{3, 5}
[1, 2]
[]
{1, 2}

AssertionError: ignored

# Working with Dictionaries

In [ ]:
# Run this cell in order to have these two dictionary variables defined.
tukey_paper = {
    "title": "The Future of Data Analysis",
    "author": "John W. Tukey",
    "link": "https://projecteuclid.org/euclid.aoms/1177704711",
    "year_published": 1962
}

thomas_paper = {
    "title": "A mathematical model of glutathione metabolism",
    "author": "Rachel Thomas",
    "link": "https://www.ncbi.nlm.nih.gov/pubmed/18442411",
    "year_published": 2008
}

In [ ]:
# Exercise 87
# Write a function named get_paper_title that takes in a dictionary and returns the title property
def get_paper_title(dictionary):
  return dictionary.get('title')

assert get_paper_title(tukey_paper) == "The Future of Data Analysis"
assert get_paper_title(thomas_paper) == "A mathematical model of glutathione metabolism"
print("Exercise 87 is correct.")

Exercise 87 is correct.

In [ ]:
# Exercise 88
# Write a function named get_year_published that takes in a dictionary and returns the value behind the "year_published" key.
def get_year_published(dict):
  return dict.get('year_published')

  
assert get_year_published(tukey_paper) == 1962
assert get_year_published(thomas_paper) == 2008
print("Exercise 88 is correct.")

Exercise 88 is correct.

In [ ]:
# Run this code to create data for the next two questions
book = {
    "title": "Genetic Algorithms and Machine Learning for Programmers",
    "price": 36.99,
    "author": "Frances Buontempo"
}

In [ ]:
# Exercise 89
# Write a function named get_price that takes in a dictionary and returns the price

def get_price(dictionary):
  return dictionary.get('price')

assert get_price(book) == 36.99
print("Exercise 89 is complete.")

Exercise 89 is complete.

In [ ]:
# Exercise 90
# Write a function named get_book_author that takes in a dictionary (the above declared book variable) and returns the author's name
def get_book_author(dictionary):
  return dictionary.get('author')


assert get_book_author(book) == "Frances Buontempo"
print("Exercise 90 is complete.")

Exercise 90 is complete.

# Working with Lists of Dictionaries
**Hint** If you need an example of lists of dictionaries, see 
- [Getting Started With a List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/getting_started.ipynb)
- [Practice Exercises for List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/exercises.ipynb)
- [Companion Video](https://www.youtube.com/watch?v=pPdEahZgv8U)

In [ ]:
# Run this cell in order to have some setup data for the next exercises
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [ ]:
# Exercise 91
# Write a function named get_number_of_books that takes in a list of objects and returns the number of dictionaries in that list.
def get_number_of_books(list):
  return len(list)

assert get_number_of_books(books) == 4
print("Exercise 91 is complete.")

Exercise 91 is complete.

In [ ]:
# Exercise 92
# Write a function named total_of_book_prices that takes in a list of dictionaries and returns the sum total of all the book prices added together
def total_of_book_prices(list_dictionaries):
  sum = 0

  for i in list_dictionaries:
    for key in i.keys():
      if key == 'price':
        sum += i[key]

  return sum


assert total_of_book_prices(books) == 122.9
print("Exercise 92 is complete.")

Exercise 92 is complete.

In [ ]:
# Exercise 93
# Write a function named get_average_book_price that takes in a list of dictionaries and returns the average book price.
def get_average_book_price(dict):
  sum = 0

  for i in dict:
    for key in i.keys():
      if key == 'price':
        sum += i[key]

  sum = sum / len(dict)

  return sum

assert get_average_book_price(books) == 30.725
print("Exercise 93 is complete.")

Exercise 93 is complete.

In [ ]:
# Exercise 94
# Write a function called highest_price_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the highest priced book.
# Hint: Much like sometimes start functions with a variable set to zero, you may want to create a dictionary with the price set to zero to compare to each dictionary's price in the list
def highest_price_book(list_dictionary):
   highest = 0
   book = {}

   for i in list_dictionary:
     for key in i.keys():
       if key == 'price':
        #  print(key)
         if i[key] > highest:
           highest = i[key]
           book.clear()
           book = i.copy()
          #  print(book)
   return book

assert highest_price_book(books) == {
    "title": "The Visual Display of Quantitative Information",
    "price": 38.00,
    "author": "Edward Tufte"
}

print("Exercise 94 is complete")

Exercise 94 is complete

In [ ]:
# Exercise 95
# Write a function called lowest_priced_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the lowest priced book.
# Hint: Much like sometimes start functions with a variable set to zero or float('inf'), you may want to create a dictionary with the price set to float('inf') to compare to each dictionary in the list
def lowest_priced_book(list_dictionary):
  lowest = 0
  book = {}
  for i in list_dictionary:
     for key in i.keys():
       if key == 'price':
        
         if i[key] < lowest:
           lowest = i[key]
           book.clear()
           book = i.copy()
          
  return book

  assert lowest_price_book(books) == {
    "title": "Weapons of Math Destruction",
    "author": "Cathy O'Neil",
    "price": 17.44
}
print("Exercise 95 is complete.")

Exercise 95 is complete.

In [ ]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

In [ ]:
# Exercise 96
# Write a function named get_tax_rate that takes in the above shopping cart as input and returns the tax rate.
# Hint: How do you access a key's value on a dictionary? The tax rate is one key of the entire shopping_cart dictionary.
def get_tax_rate(shopping_cart):
  tax = shopping_cart['tax']
  return tax

assert get_tax_rate(shopping_cart) == .08
print("Exercise 96 is complete")

Exercise 96 is complete

In [ ]:
# Exercise 97
# Write a function named number_of_item_types that takes in the shopping cart as input and returns the number of unique item types in the shopping cart. 
# We're not yet using the quantity of each item, but rather focusing on determining how many different types of items are in the cart.
def number_of_item_types(shopping_cart):
  items = len(shopping_cart['items'])
  return items

assert number_of_item_types(shopping_cart) == 5
print("Exercise 97 is complete.")

Exercise 97 is complete.

In [ ]:
# Exercise 99
# Write a function named get_average_item_price that takes in the shopping cart as an input and returns the average of all the item prices.
# Hint - This should determine the total price divided by the number of types of items. This does not account for each item type's quantity.
def get_average_item_price(shopping_cart):
  sum = 0

  for i in shopping_cart['items']:
    for key in i.keys():
      if key == 'price':
        sum += i[key] 

  sum = sum / len(shopping_cart['items'])

  return sum
assert get_average_item_price(shopping_cart) == 2.1420000000000003
print("Exercise 99 is complete.")

Exercise 99 is complete.

In [ ]:
# Exercise 100
# Write a function named get_average_spent_per_item that takes in the shopping cart and returns the average of summing each item's quanties times that item's price.
# Hint: You may need to set an initial total price and total total quantity to zero, then sum up and divide that total price by the total quantity
def get_average_spent_per_item(shopping_cart):
  quantity = 0
  total = 0

  for i in shopping_cart['items']:
    total += i['price'] * i['quantity']
    quantity += i['quantity']
  
  average_price = total / quantity
  return average_price

assert get_average_spent_per_item(shopping_cart) == 1.333529411764706
print("Exercise 100 is complete.")

Exercise 100 is complete.

# Miscellaneous Functions

In [ ]:
# HW 2 Function 1: Combine Lists
# Edit the function combine_lists so that it takes two lists (sequences) as input 
# and returns a new list containing all elements from both lists; the
# elements of the first list, followed by the elements of the second list. 
# The original lists should not be modified. No "for loops"! 

first = [1,2,3]
second = [4, 5, 6]

third = first + second

print(third)

# uncomment this to check your work with the example lists
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert combine_lists(first, second) == [1, 2, 3, 4, 5, 6]
print("Exercise Function HW2 Function1 is complete.")

[1, 2, 3, 4, 5, 6]
Exercise Function HW2 Function1 is complete.

In [ ]:
# Function 2: last_n_elements
# Edit the function last_n_elements so that it uses a slice to return the last n items of a sequence. 
# The original sequence should not be modified. Do not use len() in your slice. 
# If you feel you need it, please review the lecture slides about slices.
# import numpy as np

fruits = ['apples', 'grapes', 'peaches', 'apricots', 'bananas']

def last_n_elements(fruits, n):
  sl = fruits[-n:]
  print(sl)
  return sl

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
assert last_n_elements(fruits, 3) == ['peaches', 'apricots', 'bananas']
assert last_n_elements(fruits, 1) == ['bananas']
print("Exercise Function HW2 Function2 is complete.")

['peaches', 'apricots', 'bananas']
['bananas']
Exercise Function HW2 Function2 is complete.

In [ ]:
# Function 3: power_list
# Make the function power_list so that it accepts a list of numbers and returns a new list 
# that contains each number raised to the i-th power 
# where i is the index of that number in the given list.
# Use a list comprehension.
list1 = [2, 2, 2, 2, 2, 2]
list2 = [9, 6, 5, 4]


def power_list(list_num):
  powers = 0
  result = []
  for i in list_num:
    result.append(i **  powers)
    powers += 1
  
  return result



# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
assert power_list(list1) == [1, 2, 4, 8, 16, 32]
assert power_list(list2) == [1, 6, 25, 64]
print("Exercise Function HW2 Function3 is complete.")

Exercise Function HW2 Function3 is complete.

In [ ]:
# Function 4: rotate_list
# Make the function rotate_list so that it removes the first item from a given list, 
# adds it to the end of the list, and returns the item that was moved.
# No "for loops"!
# Hint: Look through the documentation on sequence types (ie, lists) for methods that would be useful. Do not use del . 

numbers = [1, 2, 3, 4]
# print(numbers)
# print(numbers[1])

def rotate_list(numbers):
#   # print (numbers[0])
  item = numbers[0]
  # print (item)
  return item

first_item = rotate_list(numbers)
# print(first_item)

# del numbers[0]
numbers.remove(first_item)
# print(numbers)
numbers.append(first_item)
print(numbers)

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert rotate_list(numbers) == 1
assert numbers == [2, 3, 4, 1]
print("Exercise Function HW2 Function4 is complete.")

[2, 3, 4, 1]
Exercise Function HW2 Function4 is complete.

In [ ]:

# Function 5: get_word_codes 
# Edit the function get_word_codes so that it accepts a list of strings and returns a dictionary 
# containing the strings as keys and a list of corresponding character codes as values. 
# It should work on any strings. Use a dictionary comprehension.
# Hint: Look through Python's built-in functions for a useful function to use for this.


def get_word_codes(list):
  return {word: [ord(letter) for letter in word] for word in list}

get_word_codes(['yes', 'no'])




# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert get_word_codes(words) == {'yes': [121, 101, 115], 'no':[110, 111]}
# print("Exercise Function HW2 Function5 is complete.")

{'no': [110, 111], 'yes': [121, 101, 115]}

In [9]:
# Function 6: words_containing
# Given a sentence and a lowercase letter, 
# return a list of words from the sentence that contain the letter, 
# ignoring the case of the words in the sentence. 
# Look up methods on the str object to get a list of words from the sentence. 
# Then use a list comprehension to get the final list to return.

sentence1 = "Anyone who has never made a mistake has never tried anything new"

def words_containing(sentence, str):
  temp = sentence.split()
  flag = False
  temp2 = []
  
  for i in temp:
    for j in i:
      if j == 'a' or j == 'A':
        flag = True
    if flag == True:
      temp2.append(i)
      flag = False
  # print(temp2)
  
  return temp2

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
assert words_containing(sentence1, 'a') == ['Anyone', 'has', 'made', 'a', 'mistake', 'has', 'anything']
print("Exercise Function HW2 Function6 is complete.")

Exercise Function HW2 Function6 is complete.



```
1 
2 2 
3 3 3 
4 4 4 4 

```

In [63]:
# Function 7: Write a function to print the above output starting with the number taken as an arguemnt in the example it is 1
def number(num):
  temp = []
  x = 0

  # for i in range(1,num):
  #   for j in range(i):
  #     temp.append(x)
  #   x += 1
  #   print(temp)
  # print(temp)

  for i in range(1, num):
    x += 1
    for j in range(i):
      temp.append(x)
    print(temp)


num = int(input("num: "))
number(num+1)

num: 3
[1]
[1, 2, 2]
[1, 2, 2, 3, 3, 3]



```
Lion
Deer
Sheep
Cub
Fawn
Lamb

```

In [ ]:
# Function 8: nested_loops_print_items

# Write a function that takes in a list of lists
# and prints every item in every list once
# it should look like the above output

# Classes

In [ ]:
# Class Function 1: Create a Point Class 
# Like a Point on a Line
# Instructions Below


# Name your Class Point
# Initialize your class with two arguments x and y
## Use the __init__ dunder method to initialize your class
# Import any necessary libraries outside of your class
# set a default point 
# make this default pint the origin (0,0)
# Add an attribute call get_magnitude that returns the magnitude of the line between the origin (0,0) and your point(x,y)

In [ ]:
# Class Function 2: Making a Bank Account Class 

# Name your class BankAccount
# Initialize your class with zero arguments
# In your initialization include a a self attribute for balance that shows it is equal to some amount (usually 0 but why be broke)
# Include a welcoming print statement
# In your initialization include a a self attribute to print the balance
class BankAccount:
  def inital(self, balance, deposit):
    balance = self.balance
    self.deposit = deposit
    print("Welcome to the Bank")

# add an attribute called deposit (should be a function) that takes in an argument called amount
## inside deposit should be an attribute that adds the amount from the deposit argument and changes your balance
## inside include a print statement with the amount deposited
## inside deposit should be a self attribute to print the new  balance

  def deposit(amount):
    self.balance += amount
   print("$", amount, "deposited")


# add an attribute called withdraw (should be a function) that takes in an argument called amount
## inside withdraw should be an attribute that adds the amount from the deposit argument and changes your balance
## inside include a print statement with the amount withdrawn
## inside withdraw should be a self attribute to print the new  balance
## add functionality to test if the amount you are trying to withdraw is higher than the current balance

  def withdraw(amount):
    self.balence -= amount
    print(self.balance)
    print("$", amount, "withdrawed")

# add an attribute called print_balance (should be a function) that takes in no arguments
## inside print_balance should be an attribute that prints the balance
  def print_balance(balance):
    print(balance)


# Look up the __str__ method
## add an attribute called __str__ that returns a very clear print statement when you just call your class instance
__str__ = print(balance.__str__())
# Look up the __repr__ method
## add an attribute called __repr__ that returns a very clear print statement when you just call your class instance
__repr__ = print(balance.__repr__())
## which one of these is more necessary for Colab vs Replit

NameError: ignored

In [ ]:
# Class Function 3: Making a Circle Class


# Name your class Circle
# Initialize your class with an argument called radius with a default value
# Import any libraries you need outside your class
# In your initialization include a self attribute for radius that is equal to your argument
# In your initialization include a self attribute called area that is equal to the area of a circle


# You should practice reassigning your radius values

# Investigate the property decorator
# Convert you area initialization property to an attribut and assign it a property decorator
# Explain how this helps you
# Add another attribute called diameter (with no arguments)and assign it a property decorator

# You should try resetting your diameter

# Edit your attribute diameter to include an argument
# Add a property decorator called diameter.setter 

# Try resetting your diameter again

# Inheritances

Working with Super Classes and multiple inheritances

Note: initialization steps are also sometimes called instructors

In [ ]:
# Class Function 4: Inheritances


# Name your class Base
# Initialize your class with an argument called name

# In your initialization include a self attribute name that is equal to your argument
# Add an attribute called getName that returns the instance of name

# Make an inherited class or sub class of Base called Child
# Create a contrustor for you class/Initialize this class with two arguments: name and age
# In your initialization include a self attribute age that is equal to your argument for age
# Call your Parent class base then using the .__init__ function initalize the constructor from your parent class for name
# Add an attribute called getAge that returns the instance of age

# Make an inherited class or sub class of Child called Granchild
# Create a contrustor for you class/Initialize this class with three arguments: name and age and address
# In your initialization include a self attribute address that is equal to your argument for address
# Call your Parent class Child then using the .__init__ function initalize the constructor from your parent class for name and age
# Add an attribute called getAddress that returns the instance of address

# Collections

In [ ]:
# Collections Function 1
# Write a function to find the 10 most common words in a selected text
# Import necessary libraries or collections


text = """The Python Software Foundation (PSF) is a 501(c)(3) non-profit 
corporation that holds the intellectual property rights behind
the Python programming language. We manage the open source licensing 
for Python version 2.1 and later and own and protect the trademarks 
associated with Python. We also run the North American PyCon conference 
annually, support other Python conferences around the world, and 
fund Python related development with our grants program and by funding 
special projects."""



# assert ten_most_common_words(text) == [('Python', 6), ('the', 6), ('and', 5), ('We', 2), ('with', 2), ('The', 1), ('Software', 1), ('Foundation', 1), ('PSF', 1), ('is', 1)]

In [ ]:
# Collections Code 2
# This is going to be a little different
# I am not asking you to write a function, just code, similar to chatbot

# Import necessary libraries or collections
# Define a Movie tuple using namedtuple that accepts 
# a title, a director, a release year, and a budget. 
# Prompt the user(yourself in this case) to provide information for each of these fields 
# and create an instance of the Movie tuple you defined.