# Comprehensions

In [71]:
# Comprehension Function 1
# I am not asking you to write a function, just code, similar to chatbot

def disemvowel(string_):
    vowels = 'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'
    for a in vowels:
      string_ = string_.replace(a, '')
    return string_

# Using a list comprehension remove all the vowels in a string

In [72]:
# Comprehension Function 2
# I am not asking you to write a function, just code, similar to chatbot

def count_words_by_length_compr4(words):
    return {
        n: sum(1 for word in words if len(word) == n)
        for n in {len(word) for word in words}}


mod_text = ["hello", "this", "is", "a", "list", "of","words"]
print(count_words_by_length_compr4(mod_text))
# {1: 1, 2: 2, 4: 2, 5: 2}

# Using a dictionary comprehension to count the length of each word in a sentence

{1: 1, 2: 2, 4: 2, 5: 2}

In [73]:
# Comprehension Function 3
# I am not asking you to write a function, just code, similar to chatbot

list = [2,3,4,5,6,7,8,9]
list=["hello","intellipaat"]



# Use a nested list comprehension to find all of the numbers 
# from 1–2000 that are divisible by any single digit besides 1 ( so just 2–9)

In [74]:
# Comprehension Function 3


six = [n for n in range(0,2000) if '6' in str(n)]
print(six)

# Find all of the numbers from 1–2000 that have a 6 in them

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996, 1006, 1016, 1026, 1036, 1046, 1056, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1076, 1086, 1096, 1106, 1116, 1126, 1136, 1146, 1156, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1176, 1186, 1196, 1206, 1216, 1226, 1236, 1246, 1256, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1276, 1286, 1296, 1306, 1316, 1326, 1336, 1346, 1356, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1376, 1386, 1396, 1406, 1416, 1426, 1436, 1446, 1456, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1476, 1486, 1496, 1506, 1516, 1526, 1536, 1546, 1556, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1576, 1586, 1596, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1706, 1716, 1726, 1736, 1746, 1756, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1776, 1786, 1796, 1806, 1816, 1826, 1836, 1846, 1856, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1876, 1886, 1896, 1906, 1916, 1926, 1936, 1946, 1956, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1976, 1986, 1996]

In [75]:
# Comprehension Function 4

o_letters = []

for letter in 'ocean':
    o_letters.append(letter)

print(o_letters)

# Write a function that takes in a string
# and returns a list of all the words in that string that are less than 5 letters

['o', 'c', 'e', 'a', 'n']

# Working with sets
**Hint** Take a look at the `set` function in Python, the `set` data type, and built-in `set` methods.

In [76]:
# Example set function usage
print(set("kiwi"))
print(set([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))

{'w', 'k', 'i'}
{1, 2, 3, 4}

In [77]:
# Exercise 83
# Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.

def get_unique_values(list):
  return set(list)

list = ["ant", "ant", "mosquito", "mosquito", "ladybug"]
get_unique_values(list)



assert get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"]) == {"ant", "mosquito", "ladybug"}
assert get_unique_values(["b", "a", "n", "a", "n", "a", "s"]) == {"b", "a", "n", "s"}
assert get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"]) == {"mary", "had", "a", "little", "lamb"}
print("Exercise 83 is correct.")

Exercise 83 is correct.

In [78]:
# Exercise 84
# Write a function definition named get_unique_values_from_two_lists that takes two lists and returns a single set with only the unique values

def get_unique_values_from_two_lists(lst1, lst2):
    #print(lst1, lst2)
    lstm = []
    for itm in lst1:
        lstm.append(itm)
    for itm in lst2:
        lstm.append(itm)
    #print(lstm)
    #print(set(lstm))
    return set(lstm)


assert get_unique_values_from_two_lists([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 3, 4, 5}
assert get_unique_values_from_two_lists([1, 1], [2, 2, 3]) == {1, 2, 3}
assert get_unique_values_from_two_lists(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato", "mango", "kiwi", "eggplant", "broccoli"}
print("Exercise 84 is correct.")

Exercise 84 is correct.

In [79]:
# Exercise 85
# Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

def get_values_in_common(lst1, lst2):
    setm = get_unique_values_from_two_lists(lst1, lst2)
    #print(setm)
    setj1 = [itm for itm in setm if itm in lst1]
    #print(setj1)
    setj2 = [itm for itm in setj1 if itm in lst2]
    #print(setj2)
    setj = set(setj2)
    #print(setj)
    return setj
    
assert get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {3, 5}
assert get_values_in_common([1, 2], [2, 2, 3]) == {2}
assert get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato"}
print("Exercise 85 is correct.")

Exercise 85 is correct.

In [80]:
# Exercise 86
# Write a function definition named get_values_not_in_common that takes two lists and returns a single set with the values that each list does not have in common

def get_values_not_in_common(lst1,lst2):
    #print(lst1, lst2)
    set1 = set(lst1)
    set2 = set(lst2)
    #print(set1, set2)
    set1u = [itm for itm in set1 if itm not in set2]
    set2u = [itm for itm in set2 if itm not in set1]
    #print(set1u, set2u)
    setu = get_unique_values_from_two_lists(set1u, set2u)
    #print(setu)
    return set(setu)
    
assert get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {1, 2, 4}
assert get_values_not_in_common([1, 1], [2, 2, 3]) == {1, 2, 3}
assert get_values_not_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"mango", "kiwi", "eggplant", "broccoli"}
print("Exercise 86 is correct.")

Exercise 86 is correct.

# Working with Dictionaries

In [112]:
# Run this cell in order to have these two dictionary variables defined.
tukey_paper = {
    "title": "The Future of Data Analysis",
    "author": "John W. Tukey",
    "link": "https://projecteuclid.org/euclid.aoms/1177704711",
    "year_published": 1962
}

thomas_paper = {
    "title": "A mathematical model of glutathione metabolism",
    "author": "Rachel Thomas",
    "link": "https://www.ncbi.nlm.nih.gov/pubmed/18442411",
    "year_published": 2008
}

In [113]:
# Exercise 87
# Write a function named get_paper_title that takes in a dictionary and returns the title property

def get_paper_title(dct):
    return dct['title']
    
assert get_paper_title(tukey_paper) == "The Future of Data Analysis"
assert get_paper_title(thomas_paper) == "A mathematical model of glutathione metabolism"
print("Exercise 87 is correct.")

Exercise 87 is correct.

In [114]:
# Exercise 88
# Write a function named get_year_published that takes in a dictionary and returns the value behind the "year_published" key.

def get_year_published(dct):
    return dct['year_published']
    
assert get_year_published(tukey_paper) == 1962
assert get_year_published(thomas_paper) == 2008
print("Exercise 88 is correct.")

Exercise 88 is correct.

In [115]:
# Run this code to create data for the next two questions
book = {
    "title": "Genetic Algorithms and Machine Learning for Programmers",
    "price": 36.99,
    "author": "Frances Buontempo"
}

In [116]:
# Exercise 89
# Write a function named get_price that takes in a dictionary and returns the price

def get_price(dct):
    return dct['price']

assert get_price(book) == 36.99
print("Exercise 89 is complete.")

Exercise 89 is complete.

In [117]:
# Exercise 90
# Write a function named get_book_author that takes in a dictionary (the above declared book variable) and returns the author's name

def get_book_author(itm):
    return itm['author']
    
assert get_book_author(book) == "Frances Buontempo"
print("Exercise 90 is complete.")

Exercise 90 is complete.

# Working with Lists of Dictionaries
**Hint** If you need an example of lists of dictionaries, see 
- [Getting Started With a List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/getting_started.ipynb)
- [Practice Exercises for List of Dictionaries](https://colab.research.google.com/github/ryanorsinger/list_of_dictionaries/blob/main/exercises.ipynb)
- [Companion Video](https://www.youtube.com/watch?v=pPdEahZgv8U)

In [118]:
# Run this cell in order to have some setup data for the next exercises
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [119]:
# Exercise 91
# Write a function named get_number_of_books that takes in a list of objects and returns the number of dictionaries in that list.

def get_number_of_books(lst):
    return len(lst)
    
assert get_number_of_books(books) == 4
print("Exercise 91 is complete.")

Exercise 91 is complete.

In [120]:
# Exercise 92
# Write a function named total_of_book_prices that takes in a list of dictionaries and returns the sum total of all the book prices added together

def total_of_book_prices(lst):
    subtot = 0
    for itm in lst:
        subtot += itm['price']
    
    return subtot
    
assert total_of_book_prices(books) == 122.9
print("Exercise 92 is complete.")

Exercise 92 is complete.

In [121]:
# Exercise 93
# Write a function named get_average_book_price that takes in a list of dictionaries and returns the average book price.

def get_average_book_price(lst):
    return total_of_book_prices(lst) / get_number_of_books(lst)
    
assert get_average_book_price(books) == 30.725
print("Exercise 93 is complete.")

Exercise 93 is complete.

In [122]:
# Exercise 94
# Write a function called highest_price_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the highest priced book.
# Hint: Much like sometimes start functions with a variable set to zero, you may want to create a dictionary with the price set to zero to compare to each dictionary's price in the list

def get_max_price(lst):
    max_price = 0
    for itm in lst:
        if itm['price'] > max_price:
            max_price = itm['price']
    #print(max_price)
    return(max_price)
    
def highest_price_book(lst):
    max_price = get_max_price(lst)
    for itm in lst:
        if itm['price'] == max_price:
            #print(itm)
            return itm
assert highest_price_book(books) == {
    "title": "The Visual Display of Quantitative Information",
    "price": 38.00,
    "author": "Edward Tufte"
}

print("Exercise 94 is complete")

Exercise 94 is complete

In [123]:
# Exercise 95
# Write a function called lowest_priced_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the lowest priced book.
# Hint: Much like sometimes start functions with a variable set to zero or float('inf'), you may want to create a dictionary with the price set to float('inf') to compare to each dictionary in the list

def get_min_price(lst):
    min_price = get_max_price(lst)
    for itm in lst:
        if min_price > itm['price']:
            min_price = itm['price']
    #print(min_price)
    return min_price

def lowest_price_book(lst):
    min_price = get_min_price(lst)
    for itm in lst:
        if itm['price'] == min_price:
            return itm

assert lowest_price_book(books) == {
    "title": "Weapons of Math Destruction",
    "author": "Cathy O'Neil",
    "price": 17.44
}
print("Exercise 95 is complete.")

Exercise 95 is complete.

In [124]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

In [125]:
# Exercise 96
# Write a function named get_tax_rate that takes in the above shopping cart as input and returns the tax rate.
# Hint: How do you access a key's value on a dictionary? The tax rate is one key of the entire shopping_cart dictionary.

def get_tax_rate(lst):
    return lst['tax']
    
assert get_tax_rate(shopping_cart) == .08
print("Exercise 96 is complete")

Exercise 96 is complete

In [126]:
# Exercise 97
# Write a function named number_of_item_types that takes in the shopping cart as input and returns the number of unique item types in the shopping cart. 
# We're not yet using the quantity of each item, but rather focusing on determining how many different types of items are in the cart.

def number_of_item_types(lst):
    #print(len(lst['items']))
    return len(lst['items'])
assert number_of_item_types(shopping_cart) == 5
print("Exercise 97 is complete.")

Exercise 97 is complete.

In [127]:
# Exercise 99
# Write a function named get_average_item_price that takes in the shopping cart as an input and returns the average of all the item prices.
# Hint - This should determine the total price divided by the number of types of items. This does not account for each item type's quantity.

def get_average_item_price(lst):
    tot_itm_price = 0
    for itm in lst['items']:
        tot_itm_price += itm['price']
    #print(tot_price)
    avg_price = tot_itm_price / number_of_item_types(lst) 
    #print(avg_price)
    return avg_price

assert get_average_item_price(shopping_cart) == 2.1420000000000003
print("Exercise 99 is complete.")

Exercise 99 is complete.

In [128]:
# Exercise 100
# Write a function named get_average_spent_per_item that takes in the shopping cart and returns the average of summing each item's quanties times that item's price.
# Hint: You may need to set an initial total price and total total quantity to zero, then sum up and divide that total price by the total quantity

def get_total_spend(lst):
    tot_spend = 0
    for itm in lst['items']:
        itm_spend = itm['price'] * itm['quantity']

return tot_spend

def get_average_spent_per_item(lst):
    tot_spend = get_total_spend(lst)
    itmct = total_number_of_items(lst)
    #print(tot_spend, itmct, tot_spend / itmct)
    return tot_spend / itmct

assert get_average_spent_per_item(shopping_cart) == 1.333529411764706
print("Exercise 100 is complete.")

SyntaxError: ignored

# Miscellaneous Functions

In [142]:
# HW 2 Function 1: Combine Lists
# Edit the function combine_lists so that it takes two lists (sequences) as input 
# and returns a new list containing all elements from both lists; the
# elements of the first list, followed by the elements of the second list. 
# The original lists should not be modified. No "for loops"! 

first = [1,2,3]
second = [4, 5, 6]

def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))


# uncomment this to check your work with the example lists
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert combine_lists(first, second) == [1, 2, 3, 4, 5, 6]
# print("Exercise Function HW2 Function1 is complete.")

True
None

In [143]:
# Function 2: last_n_elements
# Edit the function last_n_elements so that it uses a slice to return the last n items of a sequence. 
# The original sequence should not be modified. Do not use len() in your slice. 
# If you feel you need it, please review the lecture slides about slices.


fruits = ['apples', 'grapes', 'peaches', 'apricots', 'bananas']
last = last_n_reversed(fruits, 3)
last
['bananas', 'apricots', 'peaches']
last_n_reversed(fruits,1)
['bananas']
numbers = [41, 25, 54, 15, 76, 68, 32, 38]
last_n_reversed(numbers, 4)
[38, 32, 68, 76]

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert last_n_elements(fruit, 3) == ['peaches', 'apricots', 'bananas']
# assert last_n_elements(fruit, 1) == ['bananas']
# print("Exercise Function HW2 Function2 is complete.")

NameError: ignored

In [ ]:
# Function 3: power_list
# Make the function power_list so that it accepts a list of numbers and returns a new list 
# that contains each number raised to the i-th power 
# where i is the index of that number in the given list.
# Use a list comprehension.


list1 = [2, 2, 2, 2, 2, 2]
list2 = [9, 6, 5, 4]
def power_list([2,2,2,2,2,2])
[1,2,4,8,16,32]
new_list = power_list([9,6,5,4])
new_list
[1,6,25,64]
numbers = [33,700,82.25,16,2,3,9.5]
power_list(numbers)[1,700,6765.0625,4096,16,243,735091.890625]
power_list([2.5,2.5,2.5,2.5,2.5,2.5])
[1.0,2.5,6.25,15.625,39.0625,97.65625]


# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert power_list(list1) == [1, 2, 4, 8, 16, 32]
# assert power_list(list2) == [1, 6, 25, 64]
# print("Exercise Function HW2 Function3 is complete.")

In [ ]:
# Function 4: rotate_list
# Make the function rotate_list so that it removes the first item from a given list, 
# adds it to the end of the list, and returns the item that was moved.
# No "for loops"!
# Hint: Look through the documentation on sequence types (ie, lists) for methods that would be useful. Do not use del . 


numbers = [1, 2, 3, 4]

numbers = [1,2,3,4]
item = rotate_list(numbers)
item1
numbers[2,3,4,1]
rotate_list(numbers)2
numbers[3,4,1,2]
fruits = ['apples','grapes','peaches','apricots','bananas']
rotate_list(fruits)'apples'
fruits['grapes','peaches','apricots','bananas','apples']

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert rotate_list(numbers) == 1
# assert numbers == [2, 3, 4, 1]
# print("Exercise Function HW2 Function4 is complete.")

In [ ]:
# Function 5: get_word_codes 
# Edit the function get_word_codes so that it accepts a list of strings and returns a dictionary 
# containing the strings as keys and a list of corresponding character codes as values. 
# It should work on any strings. Use a dictionary comprehension.
# Hint: Look through Python's built-in functions for a useful function to use for this.

 words = ['yes', 'no']
 codes = get_word_codes(words)
 codes
 {'yes': [121,101,115],'no': [110,111]}
 words = ['hello','python','bye']
 codes = get_word_codes(words)
 codes
{'hello': [104,101,108,108,111],'python': [112,121,116,104,111,110],'bye': [98,121,101]}
codes = get_word_codes(['Python is fun!'])
codes
{'Python is fun!': [80,121,116,104,111,110,32,105,115,32,102,117,110,33]}

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert get_word_codes(words) == {'yes': [121, 101, 115], 'no':[110, 111]}
# print("Exercise Function HW2 Function5 is complete.")

In [ ]:
# Function 6: words_containing
# Given a sentence and a lowercase letter, 
# return a list of words from the sentence that contain the letter, 
# ignoring the case of the words in the sentence. 
# Look up methods on the str object to get a list of words from the sentence. 
# Then use a list comprehension to get the final list to return.


sentence1 = "Anyone who has never made a mistake has never tried anything new"

list_3 = ["Remember your college application process? The tedious Common App applications, hours upon hours of research, ACT/SAT, FAFSA, visiting schools, etc. Do you remember who helped you through this process? Your family and guidance counselors perhaps, maybe your peers or you may have received little to no help"]
output = []
for i in list_3:
    for j in i.split():
        if j[0].isupper():
            output.append(j)
print(output)

# uncomment the asserts to check your work with the example list
# Use the asserts as examples of how the code should work
# Extra Credit if you make your own example and assert to check it. 
# There are examples in the PDF that will also be provided
# assert words_containing(sentence1, 'a') == ['Anyone', 'has', 'a', 'mistake', 'has', 'anything']
# print("Exercise Function HW2 Function6 is complete.")



```
1 
2 2 
3 3 3 
4 4 4 4 

```

In [ ]:
# Function 7: Write a function to print the above output starting with the number taken as an arguemnt in the example it is 1

def f(x):
    return 3 * x ** 2 - 2 * x + 5



```
Lion
Deer
Sheep
Cub
Fawn
Lamb

```

In [ ]:
# Function 8: nested_loops_print_items

# Write a function that takes in a list of lists
# and prints every item in every list once
# it should look like the above output 

tableData = [['apples', 'oranges', 'cherries', 'banana'],
             ['Alice', 'Bob', 'Carol', 'David'],
             ['dogs', 'cats', 'moose', 'goose']]
t = 0
for i in tableData:
    if t <= (len(i)): 
        print(tableData[0][t].rjust(8), tableData[1][t].rjust(5), tableData[2][t].rjust(5))
        t += 1

# Classes

In [148]:
# Class Function 1: Create a Point Class 
# Like a Point on a Line
# Instructions Below

class Point:
    """ Point class represents and manipulates x,y coords. """

    def __init__(self):
        """ Create a new point at the origin """
        self.x = 0
        self.y = 0


# Name your Class Point
# Initialize your class with two arguments x and y
## Use the __init__ dunder method to initialize your class
# Import any necessary libraries outside of your class
# set a default point 
# make this default pint the origin (0,0)
# Add an attribute call get_magnitude that returns the magnitude of the line between the origin (0,0) and your point(x,y)

p = Point()         # Instantiate an object of type Point
q = Point()         # Make a second point

print(p.x, p.y, q.x, q.y)  # Each point object has its own x and y

0 0 0 0

In [151]:
# Class Function 2: Making a Bank Account Class 

# Name your class BankAccount
# Initialize your class with zero arguments
# In your initialization include a a self attribute for balance that shows it is equal to some amount (usually 0 but why be broke)
# Include a welcoming print statement
# In your initialization include a a self attribute to print the balance


# add an attribute called deposit (should be a function) that takes in an argument called amount
## inside deposit should be an attribute that adds the amount from the deposit argument and changes your balance
## inside include a print statement with the amount deposited
## inside deposit should be a self attribute to print the new  balance

# Function to deposite amount
class Bankaccount:
    def __init__(self)


# add an attribute called withdraw (should be a function) that takes in an argument called amount
## inside withdraw should be an attribute that adds the amount from the deposit argument and changes your balance
## inside include a print statement with the amount withdrawn
## inside withdraw should be a self attribute to print the new  balance
## add functionality to test if the amount you are trying to withdraw is higher than the current balance

def withdraw(self):
        amount = float(input("Enter amount to be withdrawn: "))
        if self.balance >= amount:
            self.balance -= amount
            print("\n You Withdrew:", amount)
        else:
            print("\n Insufficient balance  ")


# add an attribute called print_balance (should be a function) that takes in no arguments
## inside print_balance should be an attribute that prints the balance

def display(self):
        print("\n Net Available Balance =", self.balance)

# Look up the __str__ method
## add an attribute called __str__ that returns a very clear print statement when you just call your class instance

class Bank_Account:
    def __init__(self):
        self.balance=0
        print("Hello!!! Welcome to the Deposit & Withdrawal Machine")
 
    def deposit(self):
        amount=float(input("Enter amount to be Deposited: "))
        self.balance += amount
        print("\n Amount Deposited:",amount)
 
    def withdraw(self):
        amount = float(input("Enter amount to be Withdrawn: "))
        if self.balance>=amount:
            self.balance-=amount
            print("\n You Withdrew:", amount)
        else:
            print("\n Insufficient balance  ")
 
    def display(self):
        print("\n Net Available Balance=",self.balance)

# Look up the __repr__ method
## add an attribute called __repr__ that returns a very clear print statement when you just call your class instance
s = Bank_Account()
## which one of these is more necessary for Colab vs Replit

s.deposit()
s.withdraw()
s.display()

SyntaxError: ignored

In [154]:
# Class Function 3: Making a Circle Class


# Name your class Circle
# Initialize your class with an argument called radius with a default value
# Import any libraries you need outside your class
# In your initialization include a self attribute for radius that is equal to your argument
# In your initialization include a self attribute called area that is equal to the area of a circle

# You should practice reassigning your radius values

# Investigate the property decorator
# Convert you area initialization property to an attribut and assign it a property decorator
# Explain how this helps you
# Add another attribute called diameter (with no arguments)and assign it a property decorator

# You should try resetting your diameter

# Edit your attribute diameter to include an argument
# Add a property decorator called diameter.setter   
  
# Try resetting your diameter again


class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

NewCircle = Circle(8)
print(NewCircle.area())
print(NewCircle.perimeter())

200.96
50.24

# Inheritances

Working with Super Classes and multiple inheritances

Note: initialization steps are also sometimes called instructors

In [86]:
# Class Function 4: Inheritances


# Name your class Base
# Initialize your class with an argument called name

# In your initialization include a self attribute name that is equal to your argument
# Add an attribute called getName that returns the instance of name

# Make an inherited class or sub class of Base called Child
# Create a contrustor for you class/Initialize this class with two arguments: name and age
# In your initialization include a self attribute age that is equal to your argument for age
# Call your Parent class base then using the .__init__ function initalize the constructor from your parent class for name
# Add an attribute called getAge that returns the instance of age

# Make an inherited class or sub class of Child called Granchild
# Create a contrustor for you class/Initialize this class with three arguments: name and age and address
# In your initialization include a self attribute address that is equal to your argument for address
# Call your Parent class Child then using the .__init__ function initalize the constructor from your parent class for name and age
# Add an attribute called getAddress that returns the instance of address

class Salary:
    def __init__(self, basic_salary_table):
        self.basic_salary_table = basic_salary_table
        pass

    def basic_salary(self):
        if self.grade == 0:
            if self.level > 50:
                return int(self.basic_salary_table[3][self.basic_salary_table[3]['level']==50]['basic_salary'])
            return int(self.basic_salary_table[3][self.basic_salary_table[3]['level']==self.level]['basic_salary'])
        else:
            self.grade = str(self.grade)+'grade'
            return int(self.basic_salary_table[0][self.basic_salary_table[0]['level']==self.level][self.grade])

class Person(Salary):
    def __init__(self, name, id, job, level, grade=0):
        self.name = name
        self.id = id
        self.job = job
        self.level = level
        self.grade = grade

# Collections

In [ ]:
# Collections Function 1
# Write a function to find the 10 most common words in a selected text
# Import necessary libraries or collections


text = """The Python Software Foundation (PSF) is a 501(c)(3) non-profit 
corporation that holds the intellectual property rights behind
the Python programming language. We manage the open source licensing 
for Python version 2.1 and later and own and protect the trademarks 
associated with Python. We also run the North American PyCon conference 
annually, support other Python conferences around the world, and 
fund Python related development with our grants program and by funding 
special projects."""



# assert ten_most_common_words(text) == [('Python', 6), ('the', 6), ('and', 5), ('We', 2), ('with', 2), ('The', 1), ('Software', 1), ('Foundation', 1), ('PSF', 1), ('is', 1)]
from collections import namedtuple
Point = namedtuple('Point','x,y')
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
print dot_product

In [156]:
# Collections Code 2
# This is going to be a little different
# I am not asking you to write a function, just code, similar to chatbot

# Import necessary libraries or collections
# Define a Movie tuple using namedtuple that accepts 
# a title, a director, a release year, and a budget. 
# Prompt the user(yourself in this case) to provide information for each of these fields 
# and create an instance of the Movie tuple you defined.
from collections import namedtuple
Car = namedtuple('Car','Price Mileage Colour Class')
xyz = Car(Price = 100000, Mileage = 30, Colour = 'Cyan', Class = 'Y')
print xyz
Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
print xyz.Class

SyntaxError: ignored